* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

header img {
  height: 100%;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  height: 100%;
  margin-right: 2rem;
}

.container .title {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
}

.container .title .titleHeaders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  width: 50%;
  padding-left: 5rem;
}

.container .title .titleHeaders h1,
.container .title .titleHeaders h2 {
  font-size: 3rem;
}

.container .title .titleImages {
  max-width: 50%;
  height: 100%;
  width: 50vw;
  margin: 0 4rem;
  position: relative;
}

.container .title .titleImages .justYlva {
  position: absolute;
  left: 30%;
  bottom: 20%;
  z-index: 1;
}

.container .title .titleImages .ylvaBg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
