* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

header img {
  height: 100%;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  height: 100%;
  margin-right: 2rem;
}

.container .title {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.container .title .titleHeaders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding-left: 5rem;
}

.container .title img {
  width: 50%;
}
