@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

$text-color: #0f4b57;

@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Poppins';
  font-size: 16px;
  color: $text-color;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 4rem;
}

// HEADER //
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(212, 212, 212, 0.6);
  background-color: #fff;

  img {
    height: 100%;
    margin-left: 1rem;
  }
}

nav {
  height: 100%;
  @include flexbox(row);

  a {
    @include flexbox(row);

    color: $text-color;
    height: 100%;
    margin-right: 3rem;
    font-size: 1.5rem;

    .hover {
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0px;
        height: 2px;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        background-color: rgba($text-color, 0.6);
      }
    }

    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

// MAIN CONTENT //

// TITLE SECTION
.title {
  width: 100%;
  height: 90vh;
  @include flexbox(row);
  margin: 0;
}

.titleHeaders {
  @include flexbox(column);
  align-items: flex-start;
  // display: inline-block;
  padding-left: 3rem;
  width: 40%;
  height: 100%;

  h1,
  h2 {
    width: 70%;
    font-size: 4rem;
    font-family: 'Poppins';
    text-align: left;
    color: $text-color;
    // z-index: 1;
    margin: 0.5rem;
    opacity: 0;
  }

  &.loaded {
    h1,
    h2 {
      opacity: 1;
      transition: opacity 3s ease 2s;
    }
  }
}

.titleImages {
  display: inline-block;
  justify-self: flex-end;

  height: 100%;
  width: 50%;
  position: relative;

  .justYlva {
    position: absolute;
    bottom: 50%;
    transform: translateY(76%);
    right: -60rem;
    z-index: 0;
    width: 35%;
  }

  .ylvaBg {
    position: absolute;
    bottom: 50rem;
    right: -80rem;
    z-index: -1;
    width: 90%;
  }
}

.titleImages.loaded {
  .justYlva {
    right: 25%;
    transition: right 2.5s 0.5s cubic-bezier(0.28, 0.06, 0.23, 1.11);
  }

  .ylvaBg {
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    transition: bottom 2.5s cubic-bezier(0.28, 0.06, 0.23, 1.11),
      right 2.5s cubic-bezier(0.28, 0.06, 0.23, 1.11);
  }
}

// PROJECTS SECTION
.projects {
  @include flexbox(column);

  h2 {
    text-align: center;
    margin: 1rem 0 6rem;
    font-size: 4rem;
  }

  a {
    color: #fff;
  }
}

.project {
  @include flexbox(row);
  width: 100%;
  height: 60vh;
  margin: 0;
  overflow: hidden;

  background-color: $text-color;
  color: #fff;
  position: relative;

  .projectInfo,
  img,
  .imgLink {
    width: 50%;
  }

  h3 {
    font-size: 4rem;
    text-align: center;
    margin: 1rem;
  }

  img {
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 0;
  }

  .imgLink {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
  }

  &.centeredImg img {
    object-position: center;
  }
}

.projectInfo {
  @include flexbox(column);

  i {
    margin: 0.5rem;
  }

  h3 {
    .hover {
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0px;
        height: 2px;
        transition: all 0.6s ease-in-out;
        opacity: 0;
        background-color: #fff;
      }
    }

    &:hover {
      cursor: pointer;
      .hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

.projectReversed {
  @include flexbox(row-reverse);

  .imgLink {
    left: 50%;
  }
}

// CONTACT SECTION //

.contact {
  @include flexbox(column);

  width: 100%;
  height: 60vh;
}

.contact-links {
  @include flexbox(row);

  width: 100vw;

  h2 {
    font-size: 2.7rem;
  }

  a {
    color: $text-color;
    font-size: 1.6rem;
    margin-right: 3rem;
    padding: 1rem 1.5rem;

    border-radius: 15px;
    border: 1px solid $text-color;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

    @include flexbox(row);
    position: relative;

    span {
      margin-left: 0.5rem;
    }

    &:hover {
      // box-shadow: none;
      box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);

      transition: box-shadow 0.5s ease;
    }
  }
}

// MEDIA QUERIES //

@media only screen and (max-width: 1600px) {
  // header
  header {
    img {
      width: 4rem;
    }
  }

  nav {
    a {
      font-size: 1.3rem;
    }
  }

  // title
  .titleHeaders {
    width: 45%;

    h1,
    h2 {
      font-size: 3.5rem;
    }
  }

  // projects
  .projects {
    h2 {
      font-size: 3.5rem;
    }

    .project {
      height: 70vh;
    }
  }

  .projectInfo {
    h3 {
      font-size: 3rem;
    }
  }

  // contact
  .contact {
    h2 {
      font-size: 2.7rem;
    }

    .contact-links {
      width: 100%;
    }

    a {
      font-size: 1.3rem;
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .nav {
    a {
      font-size: 1.4rem;
    }
  }

  // title
  .title {
    margin: 0;
    justify-content: space-evenly;
    height: 90vh;

    .ylvaBg {
      width: 90%;
    }

    .justYlva {
      width: 35%;
    }
  }

  .titleHeaders {
    padding-left: 0;
    width: initial;

    h1,
    h2 {
      font-size: 3rem;
      width: 100%;
    }
  }

  // projects
  .projects {
    h2 {
      font-size: 3rem;
      margin-bottom: 5rem;
    }

    .project {
      height: 60vh;
    }
  }

  .projectInfo {
    h3 {
      font-size: 2.5rem;
    }
  }

  // contact
  .contact {
    h2 {
      font-size: 2.6rem;
    }

    a {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  // title
  .titleHeaders {
    padding-left: 2rem;
  }

  .titleImages {
    width: 60%;
  }

  // projects
  .projects {
    h2 {
      margin: 1rem 0 4rem;
    }
  }

  // contact
  .contact {
    .contact-links {
      width: 90%;
    }

    a {
      font-size: 1.25rem;
    }
  }
}

@media only screen and (max-width: 800px) {
  // nav
  header {
    padding: 1rem;

    img {
      margin-left: 2rem;
      width: 3.5rem;
    }
  }

  nav {
    a {
      font-size: 1.2rem;
      margin-right: 2rem;
    }
  }

  // title
  .title {
    justify-content: space-between;
    height: 80vh;

    h1,
    h2 {
      font-size: 2rem;
    }

    .titleHeaders {
      padding-left: 2rem;
      width: 45%;
    }

    .titleImages {
      width: 80%;
    }
  }

  // projects
  .projects {
    h2 {
      font-size: 2rem;
      margin: 0 0 3rem;
    }

    .project {
      height: 40vh;
    }
  }

  .projectInfo {
    h3 {
      font-size: 1.7rem;
    }
  }

  // contact
  .contact {
    h2 {
      font-size: 2rem;
    }
  }

  .contact-links {
    flex-direction: column;

    a {
      margin: 0.5rem 0;
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 540px) {
  // nav
  header {
    padding: 1rem;

    img {
      margin-left: 0.5rem;
      width: 3rem;
    }
  }

  nav {
    a {
      font-size: 1rem;
      margin-right: 1.5rem;
    }
  }

  // title
  .title {
    // margin: 2rem 0 3rem;
    height: 90vh;
    position: relative;

    .titleHeaders {
      margin: auto;
      position: absolute;
      width: 100%;
    }

    h1,
    h2 {
      font-size: 1.9rem;
      margin: 0.2rem 0;
      width: 80%;
    }

    .titleImages {
      width: 100%;
    }

    .ylvaBg {
      width: 100%;
    }

    .justYlva {
      width: 40%;
      z-index: -1;
    }

    .loaded {
      .justYlva {
        right: 6%;
      }
    }
  }

  // projects
  .projects {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .project {
      height: 55vh;
    }
  }

  .project {
    @include flexbox(column-reverse);
    justify-content: space-evenly;
    // width: 100%;

    img,
    .imgLink {
      width: 100%;
      height: 75%;
    }

    .imgLink {
      top: auto;
      bottom: 0;
    }

    .projectInfo {
      width: 100%;
      flex: 1;
    }
    // height: 30vh;
  }

  .projectReversed .imgLink {
    left: 0;
  }

  .projectInfo {
    h3 {
      font-size: 1.2rem;
      margin: 0 0.8rem;
    }
  }

  .project:last-child {
    border-bottom: 1px solid rgba($text-color, 0.6);
  }

  // contact
  .contact {
    h2 {
      font-size: 1.5rem;
    }

    a {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 411px) {
  // nav
  header {
    padding: 1rem;

    img {
      margin-left: 0;
      width: 3rem;
    }
  }

  nav {
    a {
      font-size: 1rem;
      margin-right: 1rem;
    }
  }

  // title
  .title {
    // margin: 2rem 0 3rem;
    // height: 45vh;

    .titleImages {
      width: 100%;
    }

    .loaded {
      .justYlva {
        right: 2%;
      }
    }
  }

  .contact {
    a {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  // nav
  nav {
    a {
      margin-right: 0.7rem;
    }
  }

  // title
  .title {
    .titleHeaders {
      padding: 1rem;
    }
    h1,
    h2 {
      font-size: 1.6rem;
    }
  }
}
