@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 16px;
}

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;

  img {
    height: 100%;
  }

  nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: black;
      height: 100%;
      margin-right: 2rem;
    }
  }
}

.container {
  .title {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;

    .titleHeaders {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      width: 30%;

      h1,
      h2 {
        font-size: 4rem;
        font-family: 'Poppins';
        font-weight: 400;
        color: #0f4b57;
      }
    }

    .titleImages {
      max-width: 50%;
      height: 100%;
      width: 70%;
      // margin: 0 6rem 0 0;
      position: relative;

      .justYlva {
        position: absolute;
        top: 33%;
        right: -58rem;
        z-index: 1;
        height: 70%;
        // opacity: 1; add fade in animation on the images?

        transform: translateX(-70.8rem);
        transition: transform 2.5s ease-out;
      }

      .ylvaBg {
        position: absolute;
        top: 70rem;
        right: 70rem;
        z-index: -1;
        height: 100%;

        transform: translateX(70rem) translateY(-70rem);
        transition: transform 2.5s ease;
      }
    }
  }
}
